#profile-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: white;
    border-radius: 50px;
    padding: 1vh 1vw;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: calc(0.8vw + 0.8vh);
}

#profile-container h2{
    text-align: center;
}

#shops {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
}

#shops a {
    background-color: aquamarine;
    margin-top: 1vh;
    /* border: none; */
    /* padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer; */
    text-decoration: none;
}

#shops a:hover {
    color: black;
    background-color: rgb(109, 218, 181);
}