/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track:hover {
    background: #dcdcdc; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#shop-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 75vh;
    background-color: white;
    border-radius: 50px;
    padding: 1vh 1vw;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: calc(0.8vw + 0.8vh);
}

#shop-container h2{
    text-align: center;
}


button.buy.error {
    background-color: red
}

button.buy.bought {
    background-color: green
}

div#skins {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    height: 60%;
    margin: 5% 0;
}

#backButton {
    background-color: aquamarine;
}

#backButton:hover {
    color: black;
    background-color: rgb(109, 218, 181);
}

#skins #rightskins, #skins #leftskins {
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 98%
}

.skin {
    border: 3px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 2vh 2vw;
    padding: 1vh 1vw;
    justify-content: space-between;
    height: 40vh;
    width: 15vw;
}

.skin img{
    width: 10vw;
    height: 20vh;
}

.skin button {
    background-color: aquamarine;
}

#back-vp{
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #back-vp p {
    margin-left: 2.5vh;
} */


#backButton {
    text-decoration: none;
    margin: 1vw;
}