#form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: white;
    border-radius: 50px;
    padding: 1vh 1vw;
}

#input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh 1vw;
    margin: 1vh;
}

#input-container input {
    height: 5vh;
}

/* #submit-container {
    padding: 1vh 1vw;
} */

#register-button {
    text-decoration: none;
    background-color: aquamarine;
    margin-bottom: 100vh;
}

#register-button:hover {
    padding-right: 2vw;
    padding-left: 2vw;
    color: black;
    background-color: rgb(109, 218, 181);
}

#username {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: calc(0.8vw + 0.8vh);
}

#password {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: calc(0.8vw + 0.8vh);
}


#button-container {
    width: 100%;
    height: 50vh;
    display: grid;
}

.buttons {
    margin: 1vh 1vw 1vh 1vw;
}